.fish__image, .location__image{
    display: flex;
    margin-bottom: 5px;
    height: 15em;
    width: 20em;
    padding: 5px;
}

header {
    display: flex;
}


main {
    display: flex;
    align-content: space-between;
    padding: 5px;
}


.fishList {
    border: dotted 3px yellowgreen;
    margin-bottom: 10px;
    padding: 5px;
}

.quotes {
    border: dotted 3px goldenrod;
    margin-bottom: 10px;
    padding: 5px;
}

.locations {
    border: dotted 3px palevioletred;
    margin-bottom: 10px;
    padding: 5px;
}
.container__left {
    margin-right: 25px;
    align-content: space-between;
    border: 3px solid rgb(0, 204, 255);
    padding: 15px;
    background-color: lightblue;
}

.container__right {
    flex: 1;
    align-content: space-between;
    border: 3px solid rgb(0, 204, 255);
    padding: 15px;
    background-color: lightblue;
}

.tip {
    border: dotted 5px lightsalmon;
    align-content: space-between
}

